* {
    background-color: #ebdede;
    color: #201e1e;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    --nav-bg-color: #201e1e;
    --nav-text-color: #ebdede;
    --footer-bg-color: #201e1e;
    --footer-text-color: #ebdede;
    --border-radius: 2px;
    --brightness: 80%;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

main {
    padding: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    background-color: var(--nav-bg-color);
}

.nav-links {
    font-weight: 900;
    font-size: 1.2rem;
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color);
}

.nav-links:hover {
    text-decoration: underline;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--nav-bg-color);
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
}

.footer-title-container, .footer-socials-container, .footer-title, .footer-socials-title {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
}

.footer-title-container, .footer-socials-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-socials-link {
    text-align: center;
    width: 120px;
    padding: 5px 10px;
    border-radius: var(--border-radius);
}

.footer-socials-link:hover {
    filter: brightness(var(--brightness));
}